@model THe_BOok_MArket.Models.Stock_Turns

@{
    Layout = "~/Views/Shared/Layout12.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Stock_Turns</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Turn_Over_Ratio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Turn_Over_Ratio)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.StockTurn_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
