@{
    ViewBag.Title = "Index2";

    Layout = "~/Views/Shared/Layout12.cshtml";
}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="scripts/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <script src="scripts/bootstrap.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="css/fonts.css" />-->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/general_and_landing.css" />
    <link rel="stylesheet" type="text/css" href="css/default-form.css" />
    <script src="scripts/MyScripts/generalFormValidation.js"></script>
    <script src="scripts/MyScripts/orders_script.js"></script>
    <!-- Alertify -->
    <script src="alertify/alertify.min.js"></script>
    <link rel="stylesheet" type="text/css" href="alertify/css/alertify.css" />
    <link rel="stylesheet" type="text/css" href="alertify/css/default.css" />
    <script src="scripts/MyScripts/timer.js"></script>

    <script>
        $(document).ready(function ($) {
            var Employee_ID = '<%= Session["Employee_ID"] %>';
            var Access_Level = '<%= Session["Access_Level"] %>';
            var location = window.location.pathname;

            initializeClock(deadline);

            var TIMER = 1000000;
            setTimeout(logout, TIMER);

            function logout() {
                var url1 = '<%=ResolveUrl("~/Login.aspx/logout") %>';

                $.ajax({
                    type: "POST",
                    url: url1,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(xhr.responseText);
                        alert(thrownError);
                    },
                    success: function (msg) {
                        var result = msg.d.split("|");

                        if (result[0] == "true") {
                            alertify.alert('Successful', result[1], function () { window.location = "Login"; });
                        }
                        else {
                            alertify.alert('Error', result[1], function () { });
                        }
                    }
                });
            }

            switch (Access_Level) {
                case "1":
                    $("#SS1").hide();
                    $("#SS2").hide();
                    $("#SS5").hide();
                    $("#SS6").hide();
                    $("#SS7").hide();
                    $("#SS8").hide();
                    $("#SS9").hide();

                    $("#collapse3 ul li").hide();
                    $("#Nav3-7").show();

                    $("#collapse4 ul li").hide();
                    $("#Nav4-8").show();
                    break;
                case "2":
                    $("#SS1").hide();
                    $("#SS4").hide();
                    $("#SS7").hide();
                    $("#SS8").hide();
                    $("#SS9").hide();

                    $("#collapse2 ul li").hide();
                    $("#Nav2-3").show();

                    $("#collapse3 ul li").hide();
                    $("#Nav3-7").show();

                    $("#collapse5 ul li").hide();
                    $("#Nav5-6-7").show();
                    $("#Nav5-4").show();
                    $("#Nav5-8").show();
                    $("#Nav5-10").show();

                    $("#collapse6 ul li").hide();
                    $("#Nav6-2").show();
                    $("#Nav6-3").show();
                    $("#Nav6-6").show();
                    $("#Nav6-9-10").show();
                    break;
                case "3":
                    $("#SS4").hide();
                    $("#SS8").hide();
                    $("#SS9").hide();

                    $("#collapse1 ul li").hide();
                    $("#Nav1-5").show();

                    $("#collapse2 ul li").hide();
                    $("#Nav2-3").show();

                    $("#collapse3 ul li").hide();
                    $("#Nav3-7").show();

                    $("#collapse5 ul li").hide();
                    $("#Nav5-6-7").show();
                    $("#Nav5-4").show();
                    $("#Nav5-5").show();
                    $("#Nav5-8").show();
                    $("#Nav5-9").show();
                    $("#Nav5-10").show();
                    $("#Nav5-11").show();

                    $("#collapse6 ul li").hide();
                    $("#Nav6-3").show();
                    $("#Nav6-5").show();
                    $("#Nav6-6").show();
                    $("#Nav6-7").show();
                    $("#Nav6-9-10").show();
                    $("#Nav6-11").show();
                    $("#Nav6-12").show();

                    $("#collapse7 ul li").hide();
                    $("#Nav7-3").show();
                    break;
                case "4":
                    $("#SS4").hide();
                    $("#SS9").hide();

                    $("#collapse1 ul li").hide();
                    $("#Nav1-2").show();
                    $("#Nav1-5").show();

                    $("#collapse3 ul li").hide();
                    $("#Nav3-2").show();
                    $("#Nav3-4").show();
                    $("#Nav3-7").show();
                    $("#Nav3-11").show();
                    $("#Nav3-13").show();
                    break;
                case "5":
                    $("#SS9").hide();

                    $("#collapse1 ul li").hide();
                    $("#Nav1-2").show();
                    $("#Nav1-5").show();

                    $("#collapse3 ul li").hide();
                    $("#Nav3-7").show();

                    $("#collapse3 ul li").hide();
                    $("#Nav3-2").show();
                    $("#Nav3-4").show();
                    $("#Nav3-7").show();
                    $("#Nav3-11").show();
                    $("#Nav3-13").show();
                    break;
            }


            $("a").click(function () {
                var original = $(this).children().children("i:nth-child(2)").attr("class");
                $(this).children().children("i:nth-child(2)").attr("class", original == 'fa fa-chevron-down pull-right' ? 'fa fa-chevron-up pull-right' : 'fa fa-chevron-down pull-right');
            });

        });</script>

    <style>

        select[multiple] {
            height: 200px;
        }
    </style>
</head>
<!DOCTYPE html>
<html>
<head>
    <style>
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}


    </style>
</head>
<body>

 

    <div class="month">
        <ul>
            <li class="prev">&#10094;</li>
            <li class="next">&#10095;</li>
            <li>
                September<br>
                <span style="font-size:18px">2019</span>
            </li>
        </ul>
    </div>

    <ul class="weekdays">
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
    </ul>

    <ul class="days">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li><span class="active">4</span></li>
        <li><span class="active">5</span></li>
        <li><span class="active">6</span></li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
        <li>11</li>
        <li>12</li>
        <li>13</li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li>17</li>
        <li>18</li>
        <li>19</li>
        <li>20</li>
        <li>21</li>
        <li>22</li>
        <li>23</li>
        <li>24</li>
        <li>25</li>
        <li>26</li>
        <li>27</li>
        <li>28</li>
        <li>29</li>
        <li>30</li>
        <li>31</li>
    </ul>

</body>
</html>

<body>

    <script src="~/Scripts/Chart/exporting.js"></script>
    <script src="~/Scripts/Chart/highcharts.js"></script>
    <div class="jumbotron">
        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

    </div>

    <script>



    @*Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Inventory Type Ratio'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            name: 'Inventory Type',
            colorByPoint: true,
            data: [
        @{
            HighChart.Controllers.HomeController.Ratio obj = (new HighChart.Controllers.HomeController()).PiechartValues();
            <text>
            {
                name: 'Books',
                y: @obj.Book

            }, {
                name: 'Accessories',
                y: @obj.Accessories
            }, {
                name: 'Stationery',
                y: @obj.Stationery

            }
            </text>
        }
               ]
        }]
    });
    </script>*@

    <div class="jumbotron">

        <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>

    <div id="container"></div>
    </div>

    <script>
        Highcharts.chart('container', {

            title: {
            text: 'The Book Market Projected Growth Rate, 2020-2025'
    },

        subtitle: {
            text: 'Source: theBookMarket.co.za'
    },

        yAxis: {
            title: {
            //text: 'Number of Employees'
        }
        },
        legend: {
            layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

        plotOptions: {
            series: {
            label: {
            connectorAllowed: false
    },
    pointStart: 2020
}
},

        series: [{
            name: 'Customers',
        data: [1560, 2310, 3100, 4320, 4890, 5321, 5890, 6492]
        }, {
            name: 'Book Purchases',
        data: [245, 345, 560, 750, 1203, 1679, 2340, 2920]
        }, {
            name: 'Sales',
        data: [1174, 1772, 2590, 3560, 4120, 4789, 5123, 5689]
        }, {
            name: 'Book Requests',
        data: [390, 670, 798, 1216, 1511, 2245, 3440, 3422]
        }, {
            name: 'Inventory',
        data: [2812, 3214, 3890, 4579, 5362, 6201, 7393, 8321]
    }],

        responsive: {
            rules: [{
            condition: {
            maxWidth: 500
    },
                chartOptions: {
            legend: {
            layout: 'horizontal',
        align: 'center',
        verticalAlign: 'bottom'
    }
}
}]
}

});
    </script>
</body>
</html>

@*<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
</style>
</head>
<body>

<div id="myDIV" class="header">
  <h2 style="margin:5px">My To Do List</h2>
  <input type="text" id="myInput" placeholder="Title...">
  <span onclick="newElement()" class="addBtn">Add</span>
</div>

<ul id="myUL">
  <li>Hit the gym</li>
  <li class="checked">Pay bills</li>
  <li>Meet George</li>
  <li>Buy eggs</li>
  <li>Read a book</li>
  <li>Organize office</li>
</ul>

<script>
// Create a "close" button and append it to each list item
var myNodelist = document.getElementsByTagName("LI");
var i;
for (i = 0; i < myNodelist.length; i++) {
  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  myNodelist[i].appendChild(span);
}

// Click on a close button to hide the current list item
var close = document.getElementsByClassName("close");
var i;
for (i = 0; i < close.length; i++) {
  close[i].onclick = function() {
    var div = this.parentElement;
    div.style.display = "none";
  }
}

// Add a "checked" symbol when clicking on a list item
var list = document.querySelector('ul');
list.addEventListener('click', function(ev) {
  if (ev.target.tagName === 'LI') {
    ev.target.classList.toggle('checked');
  }
}, false);

// Create a new list item when clicking on the "Add" button
function newElement() {
  var li = document.createElement("li");
  var inputValue = document.getElementById("myInput").value;
  var t = document.createTextNode(inputValue);
  li.appendChild(t);
  if (inputValue === '') {
    alert("You must write something!");
  } else {
    document.getElementById("myUL").appendChild(li);
  }
  document.getElementById("myInput").value = "";

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
    }
  }
}
</script>

</body>
</html>*@
