@*<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="navigation.master.cs" Inherits="Test.navigation" %>*@

@*<%if (HttpContext.Current.Session["Employee_ID"] == null)
      Response.Redirect("Login"); %>*@

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="scripts/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <script src="scripts/bootstrap.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="css/fonts.css" />-->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/general_and_landing.css" />
    <link rel="stylesheet" type="text/css" href="css/default-form.css" />
    <script src="scripts/MyScripts/generalFormValidation.js"></script>
    <script src="scripts/MyScripts/orders_script.js"></script>

    <!-- Alertify -->
    <script src="alertify/alertify.min.js"></script>
    <link rel="stylesheet" type="text/css" href="alertify/css/alertify.css" />
    <link rel="stylesheet" type="text/css" href="alertify/css/default.css" />
    <script src="scripts/MyScripts/timer.js"></script>


    <script>
        $(document).ready(function ($) {
            var Employee_ID = '<%= Session["Employee_ID"] %>';
            var Access_Level = '<%= Session["Access_Level"] %>';
            var location = window.location.pathname;

            initializeClock(deadline);

            var TIMER = 1000000;
            setTimeout(logout, TIMER);

            function logout()
            {
                var url1 = '<%=ResolveUrl("~/Login.aspx/logout") %>';

			    $.ajax({
			        type: "POST",
			        url: url1,
			        contentType: "application/json; charset=utf-8",
			        dataType: "json",
			        error: function (xhr, ajaxOptions, thrownError) {
			            alert(xhr.status);
			            alert(xhr.responseText);
			            alert(thrownError);
			        },
			        success: function (msg) {
			            var result = msg.d.split("|");

			            if (result[0] == "true") {
			                alertify.alert('Successful', result[1], function () { window.location = "Login"; });
			            }
			            else {
			                alertify.alert('Error', result[1], function () { });
			            }
			        }
			    });
            }

            switch(Access_Level)
            {
                case "1":
                    $("#SS1").hide();
                    $("#SS2").hide();
                    $("#SS5").hide();
                    $("#SS6").hide();
                    $("#SS7").hide();
                    $("#SS8").hide();
                    $("#SS9").hide();

                    $("#collapse3 ul li").hide();
                    $("#Nav3-7").show();

                    $("#collapse4 ul li").hide();
                    $("#Nav4-8").show();
                    break;
                case "2":
                    $("#SS1").hide();
                    $("#SS4").hide();
                    $("#SS7").hide();
                    $("#SS8").hide();
                    $("#SS9").hide();

                    $("#collapse2 ul li").hide();
                    $("#Nav2-3").show();

                    $("#collapse3 ul li").hide();
                    $("#Nav3-7").show();

                    $("#collapse5 ul li").hide();
                    $("#Nav5-6-7").show();
                    $("#Nav5-4").show();
                    $("#Nav5-8").show();
                    $("#Nav5-10").show();

                    $("#collapse6 ul li").hide();
                    $("#Nav6-2").show();
                    $("#Nav6-3").show();
                    $("#Nav6-6").show();
                    $("#Nav6-9-10").show();
                    break;
                case "3":
                    $("#SS4").hide();
                    $("#SS8").hide();
                    $("#SS9").hide();

                    $("#collapse1 ul li").hide();
                    $("#Nav1-5").show();

                    $("#collapse2 ul li").hide();
                    $("#Nav2-3").show();

                    $("#collapse3 ul li").hide();
                    $("#Nav3-7").show();

                    $("#collapse5 ul li").hide();
                    $("#Nav5-6-7").show();
                    $("#Nav5-4").show();
                    $("#Nav5-5").show();
                    $("#Nav5-8").show();
                    $("#Nav5-9").show();
                    $("#Nav5-10").show();
                    $("#Nav5-11").show();

                    $("#collapse6 ul li").hide();
                    $("#Nav6-3").show();
                    $("#Nav6-5").show();
                    $("#Nav6-6").show();
                    $("#Nav6-7").show();
                    $("#Nav6-9-10").show();
                    $("#Nav6-11").show();
                    $("#Nav6-12").show();

                    $("#collapse7 ul li").hide();
                    $("#Nav7-3").show();
                    break;
                case "4":
                    $("#SS4").hide();
                    $("#SS9").hide();

                    $("#collapse1 ul li").hide();
                    $("#Nav1-2").show();
                    $("#Nav1-5").show();

                    $("#collapse3 ul li").hide();
                    $("#Nav3-2").show();
                    $("#Nav3-4").show();
                    $("#Nav3-7").show();
                    $("#Nav3-11").show();
                    $("#Nav3-13").show();
                    break;
                case "5":
                    $("#SS9").hide();

                    $("#collapse1 ul li").hide();
                    $("#Nav1-2").show();
                    $("#Nav1-5").show();

                    $("#collapse3 ul li").hide();
                    $("#Nav3-7").show();

                    $("#collapse3 ul li").hide();
                    $("#Nav3-2").show();
                    $("#Nav3-4").show();
                    $("#Nav3-7").show();
                    $("#Nav3-11").show();
                    $("#Nav3-13").show();
                    break;
            }


		    $("a").click(function () {
				var original = $(this).children().children("i:nth-child(2)").attr("class");
				$(this).children().children("i:nth-child(2)").attr("class", original == 'fa fa-chevron-down pull-right' ? 'fa fa-chevron-up pull-right' : 'fa fa-chevron-down pull-right');
			});


		});
    </script>

    <asp:ContentPlaceHolder ID="head" runat="server">

    </asp:ContentPlaceHolder>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="Home">The Book Market</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-time" aria-hidden="true"></i>Log Out in: <span id="minutes"></span>:<span id="seconds"></span></a></li>
                <li><a href="#"><i class="fa fa-question" aria-hidden="true"></i> Help</a></li>
                <li><a href="#" id="sign-out-link" onclick="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a></li>
            </ul>
        </div>
    </nav>

    <ul class="vertical" id="links">
        <li><a href="Home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>

        <li id="SS2">
            <div>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    <div><i class="fa fa-users" aria-hidden="true"></i> Customers <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i></div>
                </a>
            </div>
            <div id="collapse2" class="collapse secondary">
                <ul>
                    <li><a href="AddCustomer">Add Customer</a></li>
                    <li><a href="MaintainCustomer">Maintain Customer</a></li>
                    <li id="Nav2-3"><a href="SearchCustomer">Search Customers</a></li>
                </ul>
            </div>
        </li>

        <li id="SS1">
            <div>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    <div><i class="fa fa-user" aria-hidden="true"></i> Employees <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i></div>
                </a>
            </div>
            <div id="collapse1" class="collapse secondary">
                <ul>
                    <li><a href="AddEmployee">Add Employee</a></li>
                    <li id="Nav1-2"><a href="MaintainEmployee">Maintain Employee</a></li>
                    <li><a href="AddEmployeeCategory">Add User Role</a></li>
                    <li><a href="AddEmployeeCategory">Maintain User Role</a></li>
                    <li><a href="AddEmployeeCategory">Search Employee</a></li>
                    <li><a href="AddEmployeeCategory">Login</a></li>
                    <li><a href="AddEmployeeCategory">Logout</a></li>
                    <li><a href="AddEmployeeCategory">Change Password</a></li>

                </ul>
            </div>
        </li>

        <li id="SS3">
            <div>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" >
                    <div><i class="fa fa-cubes" aria-hidden="true"></i> Suppliers <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i></div>
                </a>
            </div>
            <div id="collapse3" class="collapse secondary">
                <ul>
                    <li>@Html.ActionLink("Add Supplier", "Create", "Inventory_Supplier")</li>
                    <li id="Nav3-2"><a href="MaintainRawMaterial">Maintain Raw Material</a></li>
                    <li><a href="AddUniqueRawMaterial">Search Supplier</a></li>
                    <li id="Nav3-11"><a href="MaintainUniqueRawMaterial">Place Supplier Order</a></li>
                    <li><a href="AddPartType">Search Supplier Order</a></li>
                    <li id="Nav3-4"><a href="MaintainPartType">Cancel Supplier Order</a></li>
                    <li><a href="AddPart">Receive Supplier Order</a></li>
                    <li><a href="MaintainPart">Return Supplier Order</a></li>
                </ul>
            </div>
        </li>

        <li id="SS4">
            <div>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                    <div><i class="fa fa-gears" aria-hidden="true"></i> Sales <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i></div>
                </a>
            </div>
            <div id="collapse4" class="collapse secondary">
                <ul>
                    <li><a href="GenerateJobCard">Make Sale</a></li>
                    <li><a href="MaintainJobCard">Search Sale</a></li>
                    <li><a href="ViewJobCards">Return Sale</a></li>
               <!--	<li id="Nav3-7"><a>View Production Schedule</a></li>
                    <li><a>Maintain Production Schedule</a></li>-->
                </ul>
            </div>
        </li>

        <li id="SS5">
            <div>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    <div><i class="fa fa-truck" aria-hidden="true"></i> Payment Types <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i></div>
                </a>
            </div>
            <div id="collapse5" class="collapse secondary">
                <ul>
                    <li><a href="AddSupplier">Add Payment Type</a></li>
                    <li><a href="MaintainSupplier">Maintain Payment Type</a></li>
                    <li><a href="AddSupplierQuote">Search Payment Type</a></li>
                </ul>
            </div>
        </li>

        <li id="SS6">
            <div>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                    <div><i class="fa fa-shopping-cart" aria-hidden="true"></i> Prospective Books <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i></div>
                </a>
            </div>
            <div id="collapse6" class="collapse secondary">
                <ul>
                    <li><a href="GenerateCustomerQuote">Add Prospective Book</a></li>
                    <li id="Nav6-2"><a href="PlaceCustomerOrder">Maintain Prospective Book</a></li>
                    <li><a href="MaintainCustomerOrder">Search Prospective Book</a></li>
                    <li id="Nav6-3"><a href="GeneratePriceList">Process Prospective Book</a></li>
                </ul>
            </div>
        </li>

        <li id="SS7">
            <div>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                    <div><i class="fa fa-suitcase" aria-hidden="true"></i> Book Requests <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i></div>
                </a>
            </div>
            <div id="collapse7" class="collapse secondary">
                <ul>
                    <li><a href="AddSubContractor">Add Book Request</a></li>
                    <li><a href="MaintainSubContractor">Maintain Book Request</a></li>
                    <li id="Nav7-3"><a href="SearchSubContractor">Search Book Request</a></li>
                    <li id="Nav7-3"><a href="SearchSubContractor">Process Book Request</a></li>
                </ul>
            </div>
        </li>

        <li id="SS8">
            <div>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                    <div><i class="fa fa-plug" aria-hidden="true"></i> Inventory <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i></div>
                </a>
            </div>
            <div id="collapse8" class="collapse secondary">
                <ul>
                    <li><a href="AddMachine">Add Inventory</a></li>
                    <li><a href="MaintainMachine">Maintain Inventory</a></li>
                    <li><a href="AddUniqueMachine">Search Inventorye</a></li>
                    <li><a href="MaintainUniqueMachine">Write-Off Inventory</a></li>
                </ul>
            </div>
        </li>

        <li id="SS9">
            <div>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                    <div><i class="fa fa-area-chart" aria-hidden="true"></i> Inventory Types <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i></div>
                </a>
            </div>
            <div id="collapse9" class="collapse secondary">
                <ul>
                    <li><a href="AddCustomer">Add Inventory Type</a></li>
                    <li><a href="MaintainCustomer">Maintain Inventory Type</a></li>
                    <li id="Nav2-3"><a href="SearchCustomer">Search Inventory Type</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="container custom_container">
        <asp:ContentPlaceHolder ID="maincontent" runat="server">

        </asp:ContentPlaceHolder>
    </div>

</body>
</html>
